body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#dashboard {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}

.exitBtn {
    background: red;
}
